NEXT_PUBLIC_BASE_URL=https://https://dev-api.tradez.lk/api/v1
NEXT_PUBLIC_APP_URL=http://localhost:3000
#NEXT_PUBLIC_BASE_URL=https://rickandmortyapi.com/api/
NEXTAUTH_URL=http://localhost:3000
KEYCLOAK_CLIENT_ID=marketplace-client
KEYCLOAK_CLIENT_SECRET=secret
KEYCLOAK_CLIENT_ISSUER=https://dev-auth.tradez.lk/realms/marketplace
NEXTAUTH_SECRET=vKcN1TCoxzFfroKUjV9G79jb+OiAXYXnElYNE7vNnm0=
NEXT_PUBLIC_FACEBOOK_LINK=https://web.facebook.com/SLTMobitel/
NEXT_PUBLIC_TWITTER_LINK=https://twitter.com/slt_mobitel
NEXT_PUBLIC_INSTAGRAM_LINK=https://www.instagram.com/sltmobitel_official/
NEXT_PUBLIC_S3_BUCKET_URL=https://d11teonq0xe9mm.cloudfront.net
NEXT_PUBLIC_WISHLIST_LIMIT=20
NEXT_PUBLIC_SESSION_REFRESH_TIME=2400
